<h2>Forgot your password?</h2>
<!-- post on create_password_request -->
<form action="/users/password/new" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <%=label_tag "Email" %>
  <input type="email" name="user[email]">
  <input type="submit">
</form>
<% if @error %>
    <ul class="list-unstyled">
      <li class="has-error"><%=@error%></li>
    </ul>
<% end -%>

